/*-- scss:defaults --*/
$bs-SUgold: #b79962 !default;
$bs-pagination-active-bg: $bs-SUgold !default;
$bs-primary: $bs-SUgold !default;
$bs-btn-hover-bg: $bs-SUgold !default;
$fa-font-path: '../webfonts';

/*-- scss:rules --*/

.navbar {
  background-color: $bs-SUgold;
  color: #61223b;
}

.quarto-title-banner{
  background-color: $bs-SUgold ;
  color: #4d5356;
}

.btn-primary {
    color: #fff;
    background-color: $bs-SUgold;
    border-color: $bs-SUgold;
}



.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $bs-SUgold;
    border-color: $bs-SUgold;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: rgba(255,255,255,.7);
    background: $bs-SUgold;
}


.page-link {
      color: $bs-SUgold;
}


.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: $bs-SUgold;
    border-color: $bs-SUgold;
}

a {
  color: #61223b;
  text-decoration: none;
}

b, strong {
    color: $bs-SUgold;
    font-weight: bolder;
}

div.quarto-post .listing-categories .listing-category {
    color: $bs-SUgold;
    border: solid 1px var(--bs-gray-400);
    font-size: .8em;
}


p pre code:not(.sourceCode), li pre code:not(.sourceCode), pre code:not(.sourceCode) {
  background-color: #f0efff;
}

code {
  color: #2ccbd3;
}
